<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
    <util:RegistrySearch Id="VCv14MAJORRUNTIMEINSTALLED" Variable="VCv14MAJORRUNTIMEINSTALLED" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" Value="Major" Result="value" />

    <util:RegistrySearch Id="VCv14MINORRUNTIMEINSTALLED" Variable="VCv14MINORRUNTIMEINSTALLED" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" Value="Minor" Result="value" />
	</Fragment>
</Wix>
